# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

In [5]:
print('Typical Hours:', salaries['Typical Hours'].isna().sum(), '\nAnnual Salary:', salaries['Annual Salary'].isna().sum(), '\nHourly Rate:', salaries['Hourly Rate'].isna().sum())

Typical Hours: 25161
Annual Salary: 8022
Hourly Rate: 25161

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

This information indicates that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:
salaries.groupby('Department').count()['Name'].sort_values(ascending=False)

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
import matplotlib.pyplot as plt
from scipy.stats import norm
from scipy.stats import t

As we don't know any if the data follows a normal distribution, we'll use the t-test value. For that:

In [9]:
from scipy.stats import ttest_1samp

In [18]:
sample = salaries['Hourly Rate'].dropna()
stat_test, pvalue =ttest_1samp(sample, 30)

if p_value < 0.05:
    print('Reject Null Hypothesis: the hourly wage of all hourly workers is significantly different from $30/hr')
else:
    print('No statiscal evidence to reject the Null Hypothesis')

Reject Null Hypothesis: the hourly wage of all hourly workers is significantly different from $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [20]:
sample = salaries['Annual Salary'].dropna()

stat_test, pvalue = ttest_1samp(sample, 86000)

if p_value < 0.05:
    print("Reject Null Hypothesis: the salaries this year are higher than last year's mean of $86000/year a year for all salaried employees")
else:
    print('No statistical evidence to reject the Null Hypothesis')

Reject Null Hypothesis: the salaries this year are higher than last year's mean of $86000/year a year for all salaried employees

Using the `crosstab` function, find the department that has the most hourly workers.

In [21]:
# Your code here:
dept = pd.crosstab(salaries.Department, salaries['Salary or Hourly'])
dept['Hourly'].sort_values(ascending=False)

Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
BUSINESS AFFAIRS            7
CULTURAL AFFAIRS            7
COMMUNITY DEVELOPMENT       4
HUMAN RESOURCES             4
HEALTH                      3
PROCUREMENT                 2
FIRE                        2
BUDGET & MGMT               2
HUMAN RELATIONS             0
INSPECTOR GEN               0
DoIT                        0
LICENSE APPL COMM           0
DISABILITIES                0
COPA                        0
CITY CLERK                  0
POLICE BOARD                0
BUILDINGS                   0
BOARD OF ETHICS             0
BOARD OF ELECTION           0
TREASURER                   0
ADMIN HEARNG                0
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [23]:
# Your code here:
sample = salaries['Hourly Rate'].dropna()
test=ttest_1samp(sample, 35)
test.statistic
p_value = 1 - (test.pvalue)

if p_value < 0.05:
    print('Reject Null Hypothesis')
else:
    print('No statistical evidence to reject the Null Hypothesis')
p_value

No statistical evidence to reject the Null Hypothesis

1.0

In [29]:
sample = salaries['Hourly Rate'].dropna()
mean = sample.mean()
s = sample.std()
n = sample.count()

t_test = (mean - 35)/(s/np.sqrt(n))
p_value = 1 - t(df = n-1).cdf(t_test) #left sided test. Thus, "1-""

if p_value < 0.05:
    print('Reject Null Hypothesis: the hourly wage is less than $35/hour')
else:
    print('No statistical evidence to reject the Null Hypothesis')
p_value

No statistical evidence to reject the Null Hypothesis

1.0

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [39]:
# Your code here:

#mean hourly wage of all hourly workers: mean +/- Z *(s/sqrt(n))

mean = salaries['Annual Salary'].mean()
n = salaries['Annual Salary'].count()
s = salaries['Annual Salary'].std()
z = 1.960 #for 95% of confidence

print('Interval: [', round(mean - z*(s/np.sqrt(n)),3), round(mean + z*(s/np.sqrt(n)),3), '] for 95% of confidence')

Interval: [ 86527.004 87046.995 ] for 95% of confidence

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [71]:
# Your code here:
hourly_workers = salaries['Hourly Rate'].dropna()
p = hourly_workers.count()/salaries['Name'].count()

k = np.sqrt((0.25*0.75)/salaries['Name'].count())
k
print('Interval: [', round(0.25-1.96*k,4), round(0.25+1.96*k,4), '] for 95% of confidence')
print("Don't Reject the null hypothesis: 25% is within the above interval")

Interval: [ 0.2453 0.2547 ] for 95% of confidence
Don't Reject the null hypothesis: 25% is within the above interval

In [62]:
zstat, pvalue = proportions_ztest(salaries['Hourly Rate'].dropna(), salaries['Name'].count(), value = 0.05, alternative='two-sided',  prop_var=False)

NameError: name 'proportions_ztest' is not defined